# Cloud
CLOUD_URL=http://localhost:4000
API_KEY=sk_test_abc123

# Location
LOCATION_ID=loc_001

# Flask
FLASK_ENV=development
PORT=5000

# Washer config — confirmed 2 pulses 50ms ON/OFF from hardware testing
MACHINE_W1_IP=172.20.10.5
MACHINE_W1_NAME=Washer 1
MACHINE_W1_TYPE=washer
MACHINE_W1_PULSE_ON=50
MACHINE_W1_PULSE_OFF=50
MACHINE_W1_PULSE_COUNT=2
MACHINE_W1_VEND_PRICE=60

# Dryer config — confirmed 4 pulses 50ms ON/OFF from hardware testing
MACHINE_D1_IP=172.20.10.6
MACHINE_D1_NAME=Dryer 1
MACHINE_D1_TYPE=dryer
MACHINE_D1_PULSE_ON=50
MACHINE_D1_PULSE_OFF=50
MACHINE_D1_PULSE_COUNT=4
MACHINE_D1_VEND_PRICE=20
